* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(177, 48, 177);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    font-size: clamp(1rem, 1vw, 24px);
    max-height: 100vh;
    color: white;
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.dashlogo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

.dashlogo img {
    width: 100%;
    height: auto;
}

.pages {
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 10%;
    margin-bottom: 0.5em;
}

div.pages:nth-of-type(1) {
    padding-top: 50px;
}

.pages img {
    width: 1.5rem;
    height: 1.5rem;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 4fr;
    max-height: 100vh;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px 20px 10px;
}

.headTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 20px 0px;
}

.searchBar {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

.searchBar img {
    width: 1.8rem;
    height: auto;
}

.searchBar input[type=search] {
    width: max(250px, 80%);
    height: 2.2rem;
    border-radius: 50px;
    border: none;
    background-color: rgb(230, 230, 230);
}

.topSide {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.topSide img {
    width: 3vw;
    margin-left: auto;
}

.profpic {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    font-weight: 800;
}

#notif {
    margin-left: auto;
    padding-right: 5px;
}

#notif img {
    width: 2vw;
    height: auto;
}

.headBottom {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#welcomeMessage {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    align-items: center;
    grid-template: 1fr 2fr / 1fr 5fr;
}

#welcomeMessage > img {
    width: 5vw;
    grid-area: 1 / 1 / 3 / 2;
    margin-left: auto;
}

#welcomeMessage > p {
    padding-left: 20px;
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    font-size: 1vw;
}

#welcomeMessage > p + p {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2vw;
    font-weight: 700;
}

.btnSide {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottomBtn {
    background-color: rgb(177, 48, 177);
    padding: 10px 40px;
    border-radius: 40px;
    font-size: 1.2vw;
    color: white;
}

.cardArea {
    grid-area: 2 / 1 / 3 / 2;
    background-color: pink;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2rem 1fr 2rem 1fr;
}

.myFeed {
    grid-area: 1 / 1 / 2 / 2;
}

.myProjects {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    /* Enable vertical scrolling if items 
    overflow container height */
    overflow-y: auto;
    grid-template-columns: repeat(2, 1fr);
    /* Set row height to be 30% of container height */
    grid-auto-rows: 30%;
    gap: 15px;
    /* Must set a fixed height to enable scrollbar
    on overflowing content */
    max-height: 80vh;
    /* Set padding for cleaner card appearance */
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Additional css styling for scrollbar */
.myProjects::-webkit-scrollbar {
    width: 8px;
}

.myProjects::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.card {
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.445);
    width: max(400px, 100%);
}

.card > .cardContent {
    position: absolute;
    top: 10px;
    left: 10px;
}

.cardContent > p:first-child {
    font-weight: 600;
}

.cardContent > p:nth-child(2) {
    color: grey;
    margin: 5px 0px;
    font-size: 1vw;
}

.label {
    padding: 10px;
    font-weight: 600;
}

.aLabel {
    grid-area: 3 / 2 / 4 / 3;
}

.announce {
    grid-area: 4 / 2 / 5 / 3;
    background-color: white;
    margin: 0px 10px 10px 5px;
    display: grid;
    grid-template-rows: 0.8rem 1fr 0.8rem 1fr 0.8rem 1fr;
    padding: 10px;
    row-gap: 5px;
}

.announce > p {
    font-size: 0.8vw;
    color: rgb(99, 0, 66);
    font-weight: 500;
}

.announce > div {
    font-size: 0.8vw;
    font-style: oblique;
}

.trendLabel {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    margin: 0px 10px 10px 5px;
    padding: 10px 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

.trending > div {
    background-color: rgba(196, 45, 171, 0.24);
    border-radius: 4px;
    place-content: center;
    text-align: center;
    font-size: 0.9vw;
    font-weight: 700;
}